<div>
  <h2 class="app-title">Todo</h2>
  <form>
    <input class="input-title" name="todo" type="text" #newTodo placeholder="what do you want to do?" />
    <button (click)="addTodo(newTodo)">SUBMIT</button>
  </form>

  <ul class="todos">
    <li class="todo-item" *ngFor="let todo of todos">
      <span class="todo-title">{{todo.title}}</span>
      <span class="buttons">
        <button>&#x270D;</button>
        <button class="delete">&#x2716;</button>
        <button>&#x2606;</button>
      </span>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>