<div>
  <h2 class="app-title">Todo</h2>
  <form>
    <input class="input-title" name="todo" type="text" #newTodo placeholder="what do you want to do?" />
    <button (click)="addTodo(newTodo)">SUBMIT</button>
  </form>

  <ul class="todos">
    <li class="todo-item" *ngFor="let todo of store.todos">

      <input *ngIf="todo.edit" #dirtyTodo 
         (keyup)="editTodo($event, todo.id, dirtyTodo.value)" 
        value={{todo.title}} />

      <span *ngIf="!todo.edit" class="todo-title">{{todo.title}}</span>

      <span class="buttons">
        <button (click)="toggleEdit(todo.id)">&#x270D;</button>
        <button class="delete" (click)="deleteTodo(todo.id)">&#x2716;</button>
        <button>&#x2606;</button>
      </span>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>