*{
  font-family: 'Courier New', Courier, monospace;
}
.app-title {
  font-size: 2em;
  text-transform: uppercase;
}
.input-title {
  width:60%;  
}
.todos {
  margin: 0;
  padding: 0;
  font-size: 1.4em;
  margin-top: 10px;
  border: 1px solid #0077C0;
}
.todo-item {
  display: flex;
  flex: 1;
  cursor: pointer;
  user-select: none;
}
.todo-title {
  flex: 1;
}

.buttons {
  box-sizing: border-box;
  display: flex;
}

.todo-item button  {
  border: 1px solid #0077C0;
  background: none;
  box-shadow: none;
  margin: 5px;
}

.buttons delete {
  background-color: "";
}

.todo-item button:hover {
  border: 1px solid #0077C0;
  background: #A6A6A6;
  box-shadow: none;
}

.buttons .bookmarked span{
  color: red;
}

.completed {
  text-decoration-line: line-through;
}

.filter-container {
  margin-top: 20px;
  padding-right: 5px;
  padding-bottom: 20px;
}

.filter-container  a {
  text-decoration-line: none;
  padding: 10px;
}

a.filter-current {
  text-decoration: underline;
  background: #AAA9AD;
}
